<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
      <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
    <a href="/movies">Lista de peliculas</a>
    <a href="/movies/new">Newest de peliculas</a>
    <a href="/movies/recommended">Lista de peliculas recomendadas</a>
    <br>
    <a href="/genres">Listas generos</a>
    <a href="/genres/detail">Lista Detalle</a>
    <br>
    <a href="/actors">Lista de actores</a>
  
  </body>
</html>
